.e-schedule .e-vertical-view .e-day-wrapper .e-appointment {
    background: #0cb312 !important;
    border: 1px solid #142dbf!important;
    border-radius: 2px!important;
    color: rgba(0, 255, 145, 0.694)!important;
    overflow: hidden!important;
    position: absolute!important;
  }
  